@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

body {
    background-color:#456344;
    font-family: 'Sorts Mill Goudy', serif;
    background-image:url('/img/background.jpeg');
    background-position: center;
    background-size: 50%;
}

main {
    max-width:1000px;
    margin:0px auto;
}

#site-title {
    color:white;
    font-weight:normal;
    font-size:40pt;
    text-align:center;
    text-shadow:.1ex .1ex 0px rgba(0,0,0,.5);
    padding:0px;
    margin:2pt 0pt;
}

#toggle {
    display:none;
}

nav {
    display:flex;
}
nav a {
    display:block;
    border: 1px solid black;
    border-radius: 4px;
    background-color:#aca;
    text-decoration:none;
    color:black;
    padding:.5ex 1ex;
    height:27px;
    margin:3px;
    margin-left:0px;
    z-index:1000;
    box-shadow:5px 3px 5px rgba(0,0,0,.5);
    font-size:16pt;
}
nav a.current-tab {
    background-color:#fff;
    height: 32px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom:none;
    box-shadow:none;
}
article {
    background-color:#fff;  
    margin-top:-4px;
    border:1px solid black;
    padding:1em 1em;
    box-shadow:5px 3px 5px rgba(0,0,0,.5);
    border-radius: 4px;
    border-top-left-radius:0px;
}
article h1 {
    font-size:20pt;
    text-align:center;
    padding:7pt 0pt;
    margin:0px;
}
article aside {
    text-align:center;
}
article aside img {
    max-width:75%;
}
article aside input {
    max-width:100%;
}

@media screen and (min-width:1000px) {
    article {
        display:grid;
        grid-template-columns:2fr 1fr;
    }
    article aside {
        grid-column:2;
        grid-row:1;
    }
    article aside img {
        max-width:100%;
    }
    #content {
        grid-column:1;
        grid-row:1;
        padding-right:1em;
    }
}

footer {
    text-align:center;
    color:white;
    padding:1em;
}